@{
    ViewData["Title"] = "Mohammad Qasim Matloob Home Page";
}

<Haeder class="text-center jumbotron justify-content-center">
    <h1 class="display-4">C0453 Application Programming</h1>
    <h2> By Mohammad Qasim Matloob </h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a> </p>
</Haeder>
<section>
    <ol class="list-group">
        <li class="List-group-item">
            <a class="btn btn-success" asp-controller="Home" asp-action="DistanceConverter">App01</a>
            Distance Converter
        </li>
        <li class="List-group-item">
            <a class="btn btn-infor" asp-controller="Home" asp-action="BMICalculator">App02 </a>
            BMI Calculator
        </li>
        <li class="List-group-item">
            <a class="btn btn-warning" asp-controller="Home" asp-action="StudentMarks">App03</a>
            Student marks
        </li>
    </ol>

</section>

